@import './base.css';

#app {
  max-width: 1280px;
  margin: 0;
  font-weight: normal;
}

body{
  background-color: bisque;
  margin:0;
}
h1,label{
  color: black;
}

.login_card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según sea necesario */
}